@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin: 0 auto;
}

h1, h2 {
  font-size: 125%;
}

h3 {
  font-size: 110%;
}

a {
  color: #d71617;
  text-decoration: none;
}

a:hover, a:focus {
  color: black;
  text-decoration: underline;
}

p {
  margin: .5em 0;
}

header {
  height: 60px;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

nav {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  padding: 0 .5em;
}

main {
  background: #f7f7f7;
  padding: 2em;
}

main > div {
  max-width: 900px;
  margin: 0 auto;
}

footer {
  background: white;
  border-top: 1px solid rgba(0,0,0,0.08);
  text-align: center;
  padding: 2em;
}
