doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title= title
        link(rel='stylesheet', href='/css/webview.css')
        meta(name='description', content='')
        meta(property='og:image', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
      div(id='Webview')
      script(src='/js/webview.js')
